@charset "utf-8";

body {
    margin: 0;
    background: #f8f4e6;
    min-width: 600px;
}
body * {
    font-family: "-apple-system", "Helvetica Neue", "游ゴシック Medium", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
    vertical-align: middle;
}
header {
    color: #fff;
    background: #79b74a; 
}
h1 {
    font-size: 12px;
    margin: 0;
    padding: 4px 8px;
}
h1 a {
    color: #fff;
    text-decoration: none;
}
main, nav {
    margin: 0;
    padding: 4px;
    border: ridge 3px silver;
    background: #fbfaf5;
}