@charset "utf-8";

body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;
    @media only screen and(-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    margin: 0;
    background: #f8f4e6;
    min-width: 600px;
}
body * {
    vertical-align: middle;
}
header {
    color: #fff;
    background: #79b74a; 
}
h1 {
    font-size: 12px;
    margin: 0;
    padding: 4px 8px;
}
h1 a {
    color: #fff;
    text-decoration: none;
}
main, nav {
    margin: 0;
    padding: 4px;
    border: ridge 3px silver;
    background: #fbfaf5;
}